<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/icon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  
  {% seo %}
  {% feed_meta %}
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CS1MM7GHWB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CS1MM7GHWB');
  </script>
</head>
<body>
  
  {% include header.html %}
  
  <main id="main-content">
    {{ content }}
  </main>
  
  {% include footer.html %}
  
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
